* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 60.5%;
}

@font-face {
  font-family: TitleFont;
  src: url("/Font family folder/magilio-font/MagilioRegular-Yzv2O.ttf");
}
@font-face {
  src: url("/Font family folder/PT_Sans/PTSans-Regular.ttf");
  font-family: SubTitleFont;
}
@font-face {
  font-family: ParaFont;
  /* font-weight: 400; */
  src: url("/Font Family Folder/Work Sans/work-sans.regular.ttf");
}
:root {
  /* Color variable */
  --primary-color: #025a4e;
  --light-primary-color: #486964;
  --box-color: #f6f3ef;
  /* Property Of Main Heading Font */
  --main-heading-font-size: 11rem;
  --main-heading-font-letter-spacing: 0.4rem;
  --main-heading-font-color: #025a4e;
}
body {
  background-image: url("https://res.cloudinary.com/difvkvxuy/image/upload/v1697626469/Latest%20Portfolio%20Images/Group_19_ue2lwy.svg");
}

main {
  margin: 0 10rem;
}
section {
  width: auto;
  height: 100vh;
  padding: 5rem 0;
}
#aboutSection {
  height: 80vh;
}
#contactSection {
  height: auto;
  margin: 5rem 0;
}
.navigationSection {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.navbar {
  backdrop-filter: blur(100px);
  width: fit-content;
  padding: 2rem 2rem;
  border-radius: 3rem;
  position: fixed;
  z-index: 100;
}
.navbar a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
  font-family: SubTitleFont;
  font-weight: 600;
  margin: 0 1rem;
  z-index: 2;
  padding: 1rem 2rem;
}
.navbar a:hover {
  background-color: snow;
  border-radius: 2rem;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBox,
.headingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0;
}
.title,
.headingOfPages {
  font-size: var(--main-heading-font-size);
  font-family: TitleFont;
  letter-spacing: var(--main-heading-font-letter-spacing);
  display: block;
  color: var(--main-heading-font-color);
}
.subtitle {
  font-family: SubTitleFont;
  font-size: 2rem;
  color: var(--light-primary-color);
  text-shadow: 0.2px solid black;
}

#contactSection {
  height: 70vh;
  /* background-color: #025a4e; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactContainer {
  background-color: var(--box-color);
  border-radius: 2rem;
  padding: 5rem;
  height: 70%;
  /* display: flex;
      fle */
}
.contactHeadingBox {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactHeadingBox h1 {
  font-size: 5rem;
  color: var(--main-heading-font-color);
  font-family: TitleFont;
}
.contactHeadingBox span {
  font-size: 3rem;
  color: var(--light-primary-color);
  font-family: SubTitleFont;
}
.contactSocialMediaIconsBox {
  display: flex;
  /* justify-content: space-around; */
}
.contactSocialMediaIconsBox {
  color: black;
}

.socialMediaBox {
  border-radius: 1.3rem;
  padding: 1rem 3rem;
  display: flex;
  margin: 0 1rem;
  align-items: center;
  text-decoration: none;
  color: black;
  background-color: snow;
}

.socialMediaName {
  font-size: 1.8rem;
  font-family: ParaFont;
}
.fa-brands,
.fa-solid {
  font-size: 1.8rem;
  /* padding: 0 1rem; */
  padding-right: 1rem;
}
.fa-linkedin {
  color: #0a66c2;
}
.fa-instagram {
  color: #c32aa3;
}
.fa-github {
  color: #24292e;
}
.fa-solid {
  color: #ea4335;
}
#linkedinIcon {
  background: #b6d9fb;
}
#instaIcon {
  background-color: #f1c0e7;
}
#emailIcon {
  background-color: #b7d0fb;
}
#githubIcon {
  background-color: #d3d4d5;
}

.footerContainer {
  height: 20%;
  background-color: transparent;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footerLeftBox {
  /* border: 2px solid; */
  display: flex;
  align-items: center;
  padding: 5rem;
  font-size: 1.8rem;
  font-family: ParaFont;
  color: var(--main-heading-font-color);
}

.footerRightBox {
  display: flex;
  justify-content: end;
  padding: 5rem;
}
.footerRightBox h1 {
  color: #025a4e;
  font-size: 2rem;
}

@media only screen and (max-width: 1230px) {
  * {
    font-size: 50.5%;
    /* overflow-x: hidden; */
  }

  main {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  section {
    height: auto;
    padding: 10rem 0;
  }
  /* .titleBox, .headingBox {
          margin: 15rem 0;
      } */
}

@media only screen and (max-width: 850px) {
  * {
    font-size: 50%;
    /* overflow-y: scroll; */
  }
  main {
    margin: 0 5rem;
  }
  section {
    padding: 10rem 0;
  }

  .homeContent {
    margin: 15rem 0;
  }
  .aboutContent {
    /* height: 100%; */
    grid-gap: 5rem;
  }
  .aboutLeftSideContent img {
    height: 90%;
    width: 100%;
  }

  .informationAboutMe {
    padding: 5rem 0;
  }
  .skillContent {
    width: auto;
  }
  .prjectsSection {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    flex-direction: column;
    height: auto;
  }
  .projectContent {
    justify-content: center;
  }
}
@media only screen and (max-width: 650px) {
  .containerOfSkill {
    display: flex;
    flex-direction: column;
  }
  .aboutContent {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .contactSocialMediaIconsBox {
    display: flex;
    flex-wrap: wrap;
  }
  .contactSocialMediaIconsBox a {
    margin: 1rem 1rem;
  }
}
@media only screen and (max-width: 500px) {
  section {
    height: auto;
  }
  * {
    font-size: 40%;
    /* overflow-y: scroll; */
    --main-heading-font-size: 7rem;
  }
  .navbar {
    padding: 2rem 1rem;
  }
  .title {
    font-size: 5rem;
  }
  .headingOfPages {
    font-size: var(--main-heading-font-size);
  }
  .subtitle {
    font-family: SubTitleFont;
    font-size: 2rem;
    color: var(--light-primary-color);
    text-shadow: 0.2px solid black;
  }

  .socialMediaName {
    display: none;
  }
  .aboutContent {
    display: flex;
    flex-direction: column;
  }
  .aboutLeftSideContent {
    display: flex;
    justify-content: center;
  }
  .aboutLeftSideContent img {
    height: 35rem;
    width: 30rem;
  }
  .informationAboutMe {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #aboutSection {
    height: auto;
  }
}

@media only screen and (max-width: 390px) {
  .title {
    font-size: 4rem;
  }
  .subtitle {
    /* font-family: SubTitleFont; */
    font-size: 1.5rem;
  }

  .footerContainer {
    grid-template-columns: 3fr 1fr;
  }
}
@media only screen and (max-width: 340px) {
  main {
    margin: 0 3rem;
  }
  .navbar {
    padding: 2rem 0rem;
  }
}
